<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p>Enter some word: <input type="text" ng-model="word"> </p>

        <ul>
            <li ng-repeat="x in names | filter:word"> {{x}} </li>
        </ul>

    </div>

    <script>
        var app = angular.module("myApp", []).controller("myCtrl", ($scope) => {
            $scope.names = [
                'Jani',
                'Carl',
                'Margareth',
                'Hege',
                'Joe',
                'Gustav',
                'Birgit',
                'Mary',
                'Kai'
            ]
        })
    </script>

</body>

</html>